<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajout Opérateur</title>
</head>
<body>
  <div>
    <h1>MENTOR TUNISIE S.C.S</h1>
    <div>
      <label for="matricule">Matricule opérateur :</label>
      <br>
      <input type="text" id="matricule" placeholder="Entrer matricule">
    </div>
    <br>
    <button id="ajouter">Ajouter</button>
    <button id="retour">Retour</button>
  </div>
  <script src="operateur.js"></script>
</body>
</html>